name: ci-golang-workflow
on:
  pull_request:
    branches:
      - develop
jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0 # baixa os arquivos alterados e salva na pasta do job (ubuntu:latest)
      - uses: actions/setup-go@v6.0.0 # prepare o ambiente com a versão do go
        with:
          go-version: 1.24.6
      - run: go test
      - run: go run math.go
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.18.0
        with:
          push: true # Se true faz o push da imagem para o DockerHub
          # push: ${{ github.ref == 'refs/heads/main' }} Assim só faz push quando for merge na branch main!
          tags: welsantana/ci-go:latest